@import "item";

header{
	border-bottom: 1px solid #2888c7;
	.header-inner{
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
	}
	.head-left-block{
		float: left;
		position: relative;
		height: 80px;
		max-width: 330px;
		width: 40%;
		@media screen and (max-width: 767px) {
			width: 80%;
			height: 40px;
		}
		h1{
			margin-top: 5px;
			display: inline-block;
			@media screen and (max-width: 767px) {
				width: 70px;
			}
			a:hover {
				opacity: 1;
			}
		}
		p{
			position: absolute;
			top: 50%;
			left: 155px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			font-size: 12px;
			max-width: 170px;
			@media screen and (max-width: 767px) {
				left: 75px;
				font-size: $f10;
				max-width: none;
			}
		}	
	}
	.head-right-block{
		float: right;
		width: 55%;
		.head-right-block-inner{
			float: right;
			display: table;
			padding-top: 20px;
		}
		ul{
			display: table-cell;
			min-width: 290px;
			vertical-align: middle;
			padding-right: 10px;
			@media screen and (max-width: 1000px) {
				min-width: 220px;
			}
		}
		li{
			float: left;
			max-width: 100px;
			padding-right: 3%;
			a{
				color: #333;
				@media screen and (max-width: 1000px) {
					font-size: 12px;
				}
			}
		}
		li + li{
			padding-left: 3%;
			border-left: 1px solid #333
		} 
		.contact-btn{
			display: table-cell;
			max-width: 170px;
			a{
				display: block;
				background: #22b573;
				border-radius: 5px;
				color: #fff;
				padding: 10px;
				text-align: center;
			}
		}
	}
	.menu_btn{
		width: 32px;
		position: absolute;
		top: 5px;
		right: 10px;
		img{
			width: 100%;
		}
	}
	.nav-menu{
		width: 140px;
		position: absolute;
		top: 0;
		right: -170px;
		background: #fff;
		padding: 15px 15px 0;
		height: 100%;
		z-index: 99;
		overflow-y: scroll;
		display: none;
		li{
			a{
				font-size: $f14;
				color: #0071bc;
				display: block;
				padding: 15px 0;
			}
		}
		.contact-btn-02{
			margin-top: 15px;
			width: 100%;
			background:#2fc178;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			a{
				display: block;
				color: #fff;
				font-size: $f12;
			    padding: 18px 8px;
			}
		}
		.tel-btn-02 {
			margin-top: 10px;
		}
	}
}
footer{
	background: #0071bc;
	padding: 35px 0 30px;
	.footer-menu-box{
		text-align: center;
	}
	ul{
		max-width: 600px;
		margin: 0 auto;
		@media screen and (max-width: 767px) {
			display: inline-block;
			margin-bottom: -5px;
		}
	}
	li{
		float: left;
		max-width: 100px;
		padding-right: 20px;
		@media screen and (max-width: 767px) {
			padding-right: 13px;
			margin-bottom: 10px;
			margin-top: 10px;
			&:last-child{
				padding-right: 0;
			}
		}
		a{
			color: #fff;
			@media screen and (max-width: 767px) {
				font-size: $f10;
			}
		}
	}
	li + li{
		padding-left: 20px;
		border-left :1px solid #fff;
		@media screen and (max-width: 767px) {
			padding-left: 13px;	
		}
	}
	.campany-name{
		text-align: center;
		color: #fff;
		margin: 35px 0;
		@media screen and (max-width: 767px) {
			font-size: $f10;	
		}
	}
	.copy{
		font-size: 14px;
		color: #fff;
		text-align: center;
		@media screen and (max-width: 767px) {
			font-size: $f10;	
		}
	}
}
.menu-back-css{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	z-index: 98;
	overflow: hidden;
}
.top-border-01{
	border: none;
	position: relative;
	height: 23px;
	background: url(/assets/img/arrow_border_01.png) no-repeat center top;
	@media screen and (max-width: 767px) {
		background: url(/assets/img/sp/sp_arrow_border_01.png) no-repeat center top;
		background-size: 100%;
	}
}
.b-innerbox{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	@media screen and (max-width: 767px) {
		padding: 0;
	}
}
.contact-btn-01 a{
	-webkit-border-radius: 5px;
	border-radius: 5px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0 25px 30px;
	font-size: 30px;
	color: #fff;
	background: url(/assets/img/contact_icon_01.png) no-repeat 95px center;
	background-color: #2fc178;
	box-sizing: border-box;
	display: block;
	@media screen and (max-width: 767px) {
		width: 78.125%;
		font-size: $f15;
		background-size: 25px 20px;
		background-position: 9% center;
	    padding: 17px 0 17px 7%;
	}
}
.contact-btn-01{
	margin-top: 35px;
}
.body-fixed{
	overflow: hidden;
	position: fixed;
	top: 0;
}
.tel-btn-01{
	color: #22b573;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #22b573;
    max-width: 600px;
    margin: 30px auto 0;
    padding: 25px 0 25px 90px;
    text-align: center;
    font-size: 30px;
    background: url(/assets/img/tel_icon_01.png) no-repeat 95px center;
    box-sizing: border-box;
    display: block;
    span{
    	display: inline-block;
    	font-size: 12px;
    	text-align: left;
    	margin-left: 15px;
    	text-indent: -5px;
    	line-height: 1.2;
    }
    @media screen and (max-width: 767px) {
    	width: 78.125%;
    	background-size: 25px 20px;
    	background-position: 9% center;
    	padding: 8px 0 8px 7%;
    	text-indent: 0;
    	font-size: 1rem;
    	line-height: 1;
    	position: relative;
    	&:after{
    		content: "";
    		display: block;
    		position: absolute;
    		top: 0;
    		bottom: 0;
    		right: 10px;
    		margin: auto;
    		background: url(/assets/img/sp/sp_tel_arrow_01) no-repeat center;
    		background-size: 100%;
    		width: 17px;
    		height: 18px;
    	}
    	a{
    		color: #22b573;
    		font-size: 1.214285rem;
    		line-height: 0.8;
    		span{
    			font-size: $f10;	
    		}
    	}
    }
}